<html>
    <head>
        <title>Welcome to Apache</title>
    </head>
    <body>
        <h3> Codehub Apache </h3>
        <p> Welcome to a very secure web server: {{ inventory_hostname }} </p>
    </body>
</html>
